{% extends "AppDollyBundle::pagelayout.html.twig" %}

{% block page_title %}{{ "Sorry, this page is not available"|trans({},'dolly') }}{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ "Sorry, this page is not available"|trans({},'dolly') }}</h1>
                    <p>{{ "The page may have been removed or have never existed."|trans({},'dolly') }}</p>
                    
                    <br />
                    
                    IMAGE HERE
                    
                    <br />
                    <br />
                    <br />
                    
                    <a href="/">{{ "Go to Dolly.no home page"|trans({},'dolly') }}</a>
                    
                </div>
                
                
                
            </div>
        </div>
    </main>
{% endblock %}
