{% extends "AppCallCenterBundle::pagelayout.html.twig" %}

{% block page_title %}Callcenter{% endblock %}

{% block content %}
<main class="main">

    <p id="debug-log" class="debug-line">&nbsp;</p>

    <section id="offers-view">
        
        <div class="row">

            <div class="table-filter">
                <form action="">
                    <div class="table-filter__elm table-filter__elm--search">
                        <label for="table-search"></label>
                        <input type="text" name="search" id="table-search" placeholder="Søk etter navn, mobilnummer eller sted…">
                    </div>
                    <div class="table-filter__elm">
                        <div class="table-filter__dropdown">
                            <select name="orderowner" id="orderowner">
                                <option value="1">Dine ordre</option>
                                <option value="2">Ny</option>
                                <option value="3">Åpen</option>
                                <option value="4">Venter på kunde</option>
                                <option value="5">Ferdig</option>
                            </select>
                        </div>
                        <div class="table-filter__dropdown">
                            <select name="ordertype" id="ordertype">
                                <option value="1">Alle bestillinger</option>
                                <option value="2">Ny</option>
                                <option value="3">Åpen</option>
                                <option value="4">Venter på kunde</option>
                                <option value="5">Ferdig</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12" id="orders">

                <table>
                    <thead>
                        <tr>
                            <td><a href="#" data-sort-table="">Ordertype</a></td>
                            <td><a href="#" data-sort-table="o_date">Avtalt dato</a></td>
                            <td><a href="#" data-sort-table="o_id">Ordrenr.</a></td>
                            <td><a href="#" data-sort-table="c_phone">Tlf.nr.</a></td>
                            <td><a href="#" data-sort-table="o_date">Tidspunkt</a></td>
                            <td><a href="#" data-sort-table="c_name">Bestillerens navn</a></td>
                            <td><a href="#" data-sort-table="c_adr">Adresse</a></td>
                            <td><a href="#" data-sort-table="c_city">Poststed</a></td>
                            <td><a href="#" data-sort-table="o_rid">Restaurant</a></td>
                            <td><a href="#" data-sort-table="">Tlf. sjåfør</a></td>
                            <td><a href="#" data-sort-table="">Levert til kunde</a></td>
                            <td><a href="#" data-sort-table="">Bokført avd.</a></td>
                        </tr>
                    </thead>
                    <tbody id="offers-list-container"></tbody>
                </table>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-7" id="order-statuses">

                <table>
                    <thead>
                        <tr>
                            <td><a href="#" data-sort-table="">Registrering</a></td>
                            <td><a href="#" data-sort-table="">Selgers navn</a></td>
                            <td><a href="#" data-sort-table="">Varenr.</a></td>
                            <td><a href="#" data-sort-table="">Beskrivelse</a></td>
                            <td><a href="#" data-sort-table="">Antall</a></td>
                            <td><a href="#" data-sort-table="">Ny verdi</a></td>
                            <td><a href="#" data-sort-table="">P..</a></td>
                            <td><a href="#" data-sort-table="">Gammel</a></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-xs-5" id="order-items">
                
                <table>
                    <thead>
                        <tr>
                            <td><a href="#" data-sort-table="">Nr.</a></td>
                            <td><a href="#" data-sort-table="">Beskrivelse</a></td>
                            <td><a href="#" data-sort-table="">Antall</a></td>
                            <td><a href="#" data-sort-table="">Salgspris</a></td>
                            <td><a href="#" data-sort-table="">Beløp inkl. mva</a></td>
                            <td><a href="#" data-sort-table="">Linjer</a></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </section>
</main>

<div id="popup" class="popup hidden"></div>

{% endblock %}


{% block javascripts %}
    <script>
    var WS_HOST = window.location.host;
    var WS_PATH = '/ccws';
    </script>
    
    {{ parent() }}
{% endblock %}