<aside class="cart hidden" id="sidecart">
	<div class="cart__overlay" data-toggle="cart-open" data-toggle-hidden="#sidecart"></div>
	<div class="cart__content">
		<form action="{{ path('dolly_cart')}}">
			<h2>Min bestilling</h2>
			<div class="cart__items" id="sidecart-items"></div>
			
			<div class="form-group form-group--bottom">
				<p><a href="#" id="change-delivery">Endre leveringsmåte?</a></p>
				<div class="form-group__field">
					<button class="form-group__btn form-group__btn--block form-group__btn--submit" type="submit">Fullfør (<span id="sidecart-amount"></span> kr)</button>
				</div>
			</div>
		</form>
	</div>
</aside>