{% extends "AppBackOfficeBundle::pagelayout.html.twig" %}

{% block page_title %}Create Delivery route{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Delivery route creation</h3>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
