{% extends "AppBackOfficeBundle::pagelayout.html.twig" %}

{% block page_title %}Update content page{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Update page</h2>
            <div>{{ form(form) }}</div>
            <div>
                <a href="{{ path('app_back_office_content_index') }}">Back to list</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
