{% extends "WebBundle::pagelayout.html.twig" %}

{% block page_head_js %}
    {{ parent() }}

{% endblock %}

    {% block welcome %}
        <div id="welcome" class="parallax large-view" onclick="" style="background-image: url(/images/eb75ded65a196db839c818cd579607c3.jpg);">
            <div class="text logotext">
                <p><img src="/images/index/logo.png" width="300"></p>
            </div>
        </div>
    {% endblock %}

{% block content %}
<section class="text-block">
    <div class="features text-center dark-bg">
        <div class="container">
            <div class="row-fluid">
                <article class="span3">

                    <h3 class="with-border">Экскурсии</h3>
                    <p>
                        индивидуальные и групповые туры по городу, на комфортабельных эксклюзивных автобусах,
                        всевозможная тематика туров, от семейных до клубных. Шоппинг  и гастро туры.
                        Каталог частных гидов с авторскими программами туров.
                    </p>
                </article>
                <article class="span3">
                    <h3 class="with-border">Туры выходного дня</h3>
                    <p>
                        Софиевка, Винницкие фонтаны, Шабо, Белгород Днестровский и другие направления по запросу.
                        Религиозные туры. По желанию, сопровождение экскурсовода и фотографа-оператора.
                    </p>
                </article>
                <article class="span3">
                    <h3 class="with-border">Трансфер</h3>
                    <p>
                        в аэропорты и вокзалы Одессы, Киева, Кишинёва. Организация пассажирских перевозок  в любую точку Украины.
                        Транспорт адаптирован для людей с ограниченными возможностями (по предварительному запросу).
                    </p>
                </article>
                <article class="span3">
                    <h3 class="with-border">Свадьбы</h3>
                    <p>
                        эффектное и комфортное транспортное сопровождение  для молодоженов, а также родителей и гостей свадьбы.
                        Все автобусы оснащены системой кондиционирования, интерактивным телевидением, профессиональной аудиосистемой, холодильной камерой.

                    </p>

                </article>
            </div>
        </div>
    </div>
    <div class="dark-bg">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h2 class="with-border">Почему мы?</h2>
                    <div id="accordion" class="section">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" style="height: auto;" data-parent="#accordion" href="#collapseOne">
                                    <i class="icon-resize-full"></i>Настоящие Одесские Экскурсоводы
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body in collapse" style="height: auto;">
                                <div class="accordion-inner">
                                    <p>
                                        таки про колорит . Одесса имеет чем удивить даже самого избирательного гостя.
                                        Наши гиды говорят на Вашем языке (по предварительному запросу).
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <i class="icon-magic"></i> Эксклюзивные автобусы
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>
                                        наши автобусы прошли кастомную доработку по индивидуальному проекту,
                                        и превратились в комфортабельные круизные лайнеры бизнес класса.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <i class="icon-thumbs-up"></i> Комплексное обслуживание
                                </a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>
                                        организация экскурсий, трансферов и туров "под ключ".
                                        Информационное сопровождение клиентов и партнеров.
                                        Обслуживание корпоративных клиентов и бизнес трансферов, а также промо туры.
                                        Сотрудничество с  туроператорами Украины.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <i class="icon-cogs"></i> Специальная программа обслуживания отелей
                                </a>
                            </div>
                            <div id="collapseFour" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>
                                        действует система скидок для организованных групп, размещение рекламных
                                        материалов, возможность заказа промо-тура для знакомства с нашими автобусами.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <h2 class="with-border">Отзывы:</h2>
                    <div id="myCarousel" class="carousel slide section">
                        <div class="carousel-inner">
                            <div class="active item">
                                <div class="testimonials-block">
                                    <article>
                                        <blockquote>
                                            "Надежный партнер, - рекомендую! "
                                        </blockquote>
                                        <b class="caret"></b>
                                        <p class="author">
                                            <i class="icon-user"></i>
                                            Т.Ю. Маркова ,  начальник управления департамента культуры и туризма ОГА
                                        </p>
                                    </article>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonials-block">
                                    <article>
                                        <blockquote>
                                            "Отлично поработали на фестивале,  спасибо! "
                                        </blockquote>
                                        <b class="caret"></b>
                                        <p class="author">
                                            <i class="icon-user"></i>
                                            Сергей Кулик , менеджер по работе с музыкантами, фестиваль «Z-Games»
                                        </p>
                                    </article>
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonials-block">
                                    <article>
                                        <blockquote>
                                            "Очень довольна сотрудничеством , все вовремя и красиво! "
                                        </blockquote>
                                        <b class="caret"></b>
                                        <p class="author">
                                            <i class="icon-user"></i>
                                            Екатерина, администратор  отеля
                                        </p>
                                    </article>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonials-block">
                                    <article>
                                        <blockquote>
                                            "Большое спасибо за заботу о гостях нашей свадьбы!"
                                        </blockquote>
                                        <b class="caret"></b>
                                        <p class="author">
                                            <i class="icon-user"></i>
                                            Наташа, невеста
                                        </p>
                                    </article>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonials-block">
                                    <article>
                                        <blockquote>
                                            "Приятно рассказывать об Одессе в таких экскурсионных автобусах."
                                        </blockquote>
                                        <b class="caret"></b>
                                        <p class="author">
                                            <i class="icon-user"></i>
                                            Валентина Низова, экскурсовод
                                        </p>
                                    </article>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}