{% extends "WebBundle::pagelayout.html.twig" %}

{% block page_head_js %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <div class="parallax">
        <div class="text">
<h1>dsfhhgjcghgf</h1>
        </div>
    </div>
<div class="row">
    <div class="height_full col-sm-10 col-md-offset-1">
        <div class="row regions">
            {% for region in regions %}
                <div class="col-md-4">
                    <span><i class="oblast_img {{ region.image }}"></i><b>{{ region.name }}</b></span>
                </div>
            {% endfor %}

        </div>

    </div>


    <div class="height_full col-sm-10 col-md-offset-1 news_block" style="background: #F6A910" id="6">
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
        <blockquote class="blockquote-reverse">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
        <blockquote class="blockquote-reverse">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
    </div>
    <div class="height_full col-sm-10 col-md-offset-1" style="" id="6">
        <div class="row regions">
            <div class="col-md-4 news">
            </div>
            <div class="col-md-4 news">
            </div>
            <div class="col-md-4 news">
            </div>
        </div>
    </div>
    <div class="height_full col-sm-10 col-md-offset-1" style="background: #F6A910" id="6">
        <div class="row regions">
            <div class="col-md-4 news">
            </div>
            <div class="col-md-4 news">
            </div>
            <div class="col-md-4 news">
            </div>
        </div>
    </div>
</div>

{% javascripts
    'bundles/web/js/map_index.js'
%}
    <script src="{{ asset_url }}"></script>


    {% endjavascripts %}
{% endblock %}