{% extends "WebBundle::pagelayout.html.twig" %}

{% block page_head_js %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <div class="parallax">
        <div class="text">
<h1>dsfhhgjcghgf</h1>
        </div>
    </div>
<div class="row">
    <div class="height_full col-sm-10 col-md-offset-1">
        <div class="row regions">
            {% for region in regions %}
                <div class="col-md-4">
                    <span><i class="oblast_img {{ region.image }}"></i><b>{{ region.name }}</b></span>
                </div>
            {% endfor %}

        </div>

    </div>


    <div class="height_full col-sm-12" style="background: #F6A910" id="6">
        6 rt yrt
    </div>
</div>

{% javascripts
    'bundles/web/js/map_index.js'
%}
    <script src="{{ asset_url }}"></script>


    {% endjavascripts %}
{% endblock %}