<div class="popup__content">

	<div class="popup__section popup__section--half" id="customer-details"></div>
	<div class="popup__section popup__section--half" id="offer-details"></div>
	<div class="popup__section popup__section--half" id="offer-archive"></div>

</div>