<form action="">
			
	<section>
		<h3>Kunden</h3>
		
		<div class="form-group">
			<div class="form-group__labels">
				<label for="ref1_name">1. Referansefelt</label>
			</div>
			<div class="form-group__fields">
				<div class="form-group__field form-group__field--half">
					<input type="text" name="ref1[name]" id="ref1_name" value="Navn" readonly>
				</div>
				<div class="form-group__field form-group__field--half">
					<button class="form-group__btn form-group__btn--inline">Opprett / Endre</button>
				</div>
			</div>
			<div class="form-group__fields">
				<div class="form-group__field">
					<input type="text" name="ref1[line2]" id="ref1_line2" value="Beskrivelse" readonly>
				</div>
			</div>
			<div class="form-group__fields">
				<div class="form-group__field">
					<input type="text" name="ref1[line3]" id="ref1_line3" value="Verdi" readonly>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="form-group__labels">
				<label for="ref2_name">2. Referansefelt</label>
			</div>
			<div class="form-group__fields">
				<div class="form-group__field form-group__field--half">
					<input type="text" name="ref2[name]" id="ref2_name" readonly>
				</div>
				<div class="form-group__field form-group__field--half">
					<button class="form-group__btn form-group__btn--inline">Opprett / Endre</button>
				</div>
			</div>
			<div class="form-group__fields">
				<div class="form-group__field">
					<input type="text" name="ref2[line2]" id="ref2_line2" readonly>
				</div>
			</div>
			<div class="form-group__fields">
				<div class="form-group__field">
					<input type="text" name="ref2[line3]" id="ref2_line3" readonly>
				</div>
			</div>
		</div>

	</section>

</form>