.regions i.oblast_img {
    background-image: url("../images/oblasti.png");
    display: table-cell;
    height: 60px;
    width: 51px;
}

.cherkasi {

}
.zaporoge {
    background-position: 50px 61px;

}
.zakarpate {
    background-position: 100px 61px;

}
.volin {
    background-position: 150px 61px;
}
.vinica {
    background-position: 200px 61px;

}
.ternopil {
    background-position: 0px 61px;

}
.sumi {
    background-position: 50px 122px;
}
.rovno {
    background-position: 100px 122px;
}
.poltava  {
    background-position: 150px 122px;
}
.odessa {
    background-position: 200px 122px;
}
.nikolaev {
    background-position: 0px 122px;
}
.lviv {
    background-position: 50px 190px;
}
.lugansk {
    background-position: 100px 190px;
}
.krim {
    background-position: 150px 190px;
}
.kirovograd {
    background-position: 200px 190px;
}
.kiev {
    background-position: 0px 190px;
}
.ivanofrankovsk {
    background-position: 50px 250px;
}
.hmelnitsk {
    background-position: 100px 250px;
}
.herson {
    background-position: 150px 250px;
}
.harkov {
    background-position: 200px 250px;
}
.gitomir {
    background-position: 0px 250px;
}
.doneck {
    background-position: 50px 0px;
}
.dnepropetrovsk {
    background-position: 100px 0px;
}
.chernovci {
    background-position: 150px 0px;
}
.chernigov {
    background-position: 200px 0px;
}


