{% extends "WebBundle::pagelayout.html.twig" %}

{% block page_head_js %}
    {{ parent() }}

{% endblock %}
{% block title %}
    Соседи {{ organize.title }}
{% endblock %}
{% block content %}

<div id="start_page">
    <div class="row">

        <div class="col-sm-10 col-md-offset-1" style="background: #2c3e50">
            <div class="row placerem">
                {% for i in 0..11 %}
                    <div class="col-md-3 ">
                        <div class="blog_news">
                            <img src="/images/odessa.jpg" alt="Chania">
                            <h2>Tittle</h2>
                            <span>
                                lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                            lorem ipsumlorem ipsumlorem ipsumlorem ipsum
                            lorem ipsumlorem ipsumlorem ipsum
                            lorem ipsumlorem ipsumlorem ipsum
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-10 col-md-offset-1" style="background: #F6A910">
            <div class="row contact">
                <div class="col-md-2 col-md-offset-1 news">
                    <img src="/bundles/web/images/phone.png" class="tossing" style="">
                    <br/>
                    <span><a href="tel:0631392958">0(63)139-29-58</a> </span>
                </div>
                <div class="col-md-2 col-md-offset-2 news">
                    <img src="/bundles/web/images/mail.png" class="tossing">
                    <br/>
                    <span><a href="mail:dmitreysergeevich86@gmail.com">dmitreysergeevich86@gmail.com</a> </span>
                </div>
                <div class="col-md-2 col-md-offset-2 news">
                    <img src="/bundles/web/images/pin.png" class="tossing">
                    <br/>
                    <span>Одесса Армейская 8в </span>

                </div>
            </div>
        </div>
        <div>
            <form>
                {{ app.user.username }}
                <input type="text">
            </form>
        </div>



    </div>
</div>
{% javascripts
    'bundles/web/js/map_index.js'
%}
    <script src="{{ asset_url }}"></script>


    {% endjavascripts %}
{% endblock %}