{% extends "AppBackOfficeBundle::pagelayout.html.twig" %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Start Back Office page</h1>
            <p>
                Nice to meet you!
            </p>
        </div>
    </div>
{% endblock %}
