{% extends "AppBackOfficeBundle::pagelayout.html.twig" %}

{% block page_title %}Create front page{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Front page creation</h3>
                {{ form(form) }}
            </div>
        </div>
    </div>
    {% include('AppBackOfficeBundle:BackOffice:modal_for_exist_image.html.twig') %}
{% endblock %}
{% block footer_js %}
    {{ parent() }}
    <script src="{{ asset('bundles/appbackoffice/js/existing_image_actions.js') }}"></script>
{% endblock %}