$lightGray: #e8ebf3;
$gray: #cdd4e2;
$darkGray: #858b9e;
$black: #31343d;
$white: #ffffff;
$mainGreen: #26a69a;
$mainYellow: #FF8F00;
$mainRed: #ef5350;
$mainBlue: #5d9bfb;
$manatee25pc: rgba(133, 139, 158, 0.25);
$hover: #fefbf2;
$fuchsiaBlue: #7e57c2;
$cloudyBlue: #cbd0db;

$charcoalGray: #2f303a;
$dandelion: #ffea00;
$sandy-yellow: #fff176;
$light-salmon: #ffab91;
$light-yellowish-green: #ccff90;