{% extends "AppBackOfficeBundle::pagelayout.html.twig" %}

{% block page_title %}Products{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 column margintop20">
                {{ knp_menu_render('AppBackOfficeBundle:Builder:helpMenu', {'currentClass': 'active'}) }}
            </div>
            <div class="col-md-9">
                {% if help %}
                    {% if help.description %}
                        {{ help.description|raw }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}