{% extends "AppBackOfficeBundle::pagelayout.html.twig" %}

{% block page_title %}Products{% endblock %}

{% block content %}
<div class="container">
    <div class="bs-example" data-example-id="contextual-panels">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>{{ entity.title }}</h3>
        </div>
        <div class="panel-body" >

            {{ form(form) }}

        </div>

    </div>
</div>
{% endblock %}