form h3 {
	float: left;
	width: 100%;
}

button {
	@include font-size(13);
	@extend .font-bold;
	text-transform: uppercase;
	background: transparent;
	line-height: 20px;
	padding: 9px 14px;
	border: $black solid 2px;
}

.form-group {
	float: left;
	width: 100%;
	clear: both;
	text-align: center;
	margin: 0;
	position: relative;

	&--bottom {
		position: absolute;
		left: 0;
		bottom: 0;
	}

	&--bordered {
		border-bottom: $gray solid 1px;
		margin-bottom: $grid-gutter-width;
	}

	p {
		text-align: left;
	}

	input[type="text"], 
	input[type="password"], 
	input[type="date"], 
	input[type="datetime"], 
	input[type="datetime-local"], 
	input[type="month"], 
	input[type="week"], 
	input[type="email"], 
	input[type="number"], 
	input[type="search"], 
	input[type="tel"], 
	input[type="time"], 
	input[type="url"], 
	input[type="color"], 
	textarea {
		@extend %form-field;

		&:disabled, &:read-only, fieldset:disabled & {
			@extend %form-field-disabled;
		}
	}
	select {
		@extend %form-field;
		width: 100% !important;
		height: 100% !important;

		&:disabled, fieldset:disabled & {
			@extend %form-field-disabled;
		}
	}

	label {
		@extend .font-regular;
		@include font-size(11);
		margin: 3px 0 0;
		line-height: 20px;

		a {
			@include linkColor($black);
			@extend .font-bold;
		}
	}
	
	&__labels {
		@include font-size(13);
		text-align: left;

		@media (min-width: $screen-sm-min) {
			padding-right: $grid-gutter-width/2;
			width: 35%;
			float: left;
			clear: left;
		}
	}

	&__label, h4 {
		@extend .font-bold;
		@include font-size(13);
		text-transform: uppercase;
		margin: 0;
		text-align: left;
		display: block;
	}

	&__sublabel {
		color: $black;
		line-height: 1.4;

		a {
			@include linkColor(inherit);
			@extend .font-bold;
		}
	}

	&__fields {

		p {
			float: left;
			width: 100%;
			margin-bottom: 0;
			line-height: 1.4;
		}

		.form-group__field + p {
			margin-top: -10px;
		}

		@media (min-width: $screen-sm-min) {
			width: 65%;
			float: right;
			clear: right;
			padding-left: $grid-gutter-width/2;

			&--left {
				float: left;
			}
		}
	}

	&__field {
		@include font-size(11);
		width: 100%;
		float: left;
		margin: 0 0 $grid-gutter-width;
		position: relative;

		&--half, 
		&--large, 
		&--small {
			padding: 0 $grid-gutter-width/2;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}

			.form-group__btn {
				padding-left: 0;
				padding-right: 0;
				margin: 0;
				width: 100%;
			}
		}

		&--half {
			width: 100%;

			@media (max-width: $screen-xs-max) {
				padding: 0;
			}

			@media (min-width: $screen-sm-min) {
				width: 50%;
			}
		}


		&--fourth {
			width: 50%;

			@media (min-width: $screen-sm-min) {
				width: 25%;
			}
		}

		&--large {
			width: 65%;

			@media (min-width: $screen-sm-min) {
				width: 75%;
			}
		}

		&--small {
			width: 35%;

			@media (min-width: $screen-sm-min) {
				width: 25%;
			}
		}

		&--collapsed {
			padding-left: 0;
			padding-right: 0;
		}

		&--checkbox {
			@include font-size(13);
			color: $black;
			position: relative;
			padding-left: 30px;
			line-height: 1.4;
			text-align: left;

			input, .checkboxUI, .radioUI {
				position: absolute !important;
				top: 0;
				left: 0;
			}
		}

		&--verified {
			@include icon("checkmark", "after");
			position: relative;

			&:after {
				position: absolute;
				right: 15px;
				top: 50%;
				width: 18px;
				height: 18px;
				margin-top: -9px;
			}
		}

		&--text {
			p {
				margin: 0;
			}
		}

		input, textarea, select {
			display: block;
			width: 100%;
		}

		textarea {
			resize: vertical;
			height: 80px;
		}
	}
	
	&__sub {
		margin-left: $grid-gutter-width;
	}

	&__select {
		@extend select;
		display: block !important;
		height: auto !important;
	}

	&__selectInner {
		@include icon("dropdown");
		width: 100% !important;
		height: auto !important;

		&:before {
			@include font-size(15);
			pointer-events: none;
			float: right;
			vertical-align: middle;
		}
	}

	&__selectDisabledOption {
		@extend %form-field-disabled;
	}

	&__clear {
		@include icon("remove");
		@include linkColor(inherit);
		float: right;
		margin-top: 10px;

		&:before {
			vertical-align: baseline;
			margin-right: 4px;
			width: 10px;
			height: 10px;
			opacity: .3;
		}
	}

	&__btn {
		@extend %transparent-button;

		&--submit {
			@extend %green-button;
		}

		&--reset {
			@extend %red-button;
		}

		&--next {
			@extend %black-button;
		}

		&--discrete {
			@extend %discrete-button;
		}

		&--link {
			@extend %link-button;
		}

		&--inline {
			@extend %gray-button;
			font-size: inherit;
			padding: 0;
			text-transform: none;
			border-radius: 8px;
			margin-top: 3px !important;
		}

		&--block {
			display: block;
			width: 100%;
		}
	}

	&__back {
		@include icon("larr");
		@include linkColor($black, inherit);

		&:before {
			@include font-size(28);
			position: absolute;
			vertical-align: middle;
			line-height: 30px;
			height: 30px;
			border: red;
			top: 50%;
			left: 0;
			margin-top: -15px;
		}
	}
}

.checkboxUI{
    margin-right: 7px;
    float: left;
    cursor: pointer;
    width: 19px;
    height: 19px;
    border: 1px solid $input-border;
    & + label{
        display: inline-block;
        user-select: none;
        display: inline-block;
        margin: 0 0 0 0;
    }
}
.checkboxUI_checked{
    &:before{
        position: absolute;
		content: "";
		display: block;
        width: 7px;
        height: 7px;
        left: 5px;
        top: 5px;
        background-color: $black;
    }
}
.radioUI{
    margin-right: 7px;
    float: left;
    cursor: pointer;
    width: 19px;
    height: 19px;
    border: 1px solid $input-border;
    border-radius: 50%;
    & + label{
        display: inline-block;
        user-select: none;
        display: inline-block;
        margin: 0 0 0 0;
    }
}
.radioUI_checked{
    &:before{
        position: absolute;
		content: "";
		display: block;
        width: 7px;
        height: 7px;
        left: 5px;
        top: 5px;
        background-color: $black;
        border-radius: 50%;
    }
}
.checkboxUI_disabled, .radioUI_disabled{
    cursor: default;
    cursor: not-allowed;
    opacity: .5;
}

.quantity-picker {
	overflow: hidden;
	margin-top: ($grid-gutter-width/2);
	width: 90px;

	&__controller, &__input, &__input[type="number"] {
		width: 30px;
		height: 30px;
		float: left;
		border-color: $input-border;
		border-width: 1px;
		padding: 0;
		vertical-align: middle;
		text-align: center;
	}

	&__controller {
		@include font-size(20);
		@extend .font-regular;
		border-style: solid;
		color: $black;
		line-height: 25px;
		text-transform: none;

		&--remove {
			display: none;
		}
	}

	&__input, &__input[type="number"] {
		border-style: solid none solid none;
		line-height: 30px;

		&:focus {
			padding: 0;
			border-color: $input-border;
			border-width: 1px;
		}

		&::-webkit-inner-spin-button {
			display: none;
		}
	}

	&--removable &__controller {
		
		&--remove {
			display: block;
		}
	
		&--minus {
			display: none;
		}
	}
}