html, body {
	background: $lightGray;
}

body {
	@include font-size(13);
	color: $black;
}

a {
	&, &:hover, &:active, &:focus {
		text-decoration: none;
	}
}

h1, h2, h3 {
	margin: 0 0 $grid-gutter-width;
}

h3 {
	@include font-size(19);
}

.debug-line {
	@include font-size(10);	
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
}