.popup {
	@include animateProperty(opacity, .2s, linear);
	@extend %overlay;
	z-index: 6;
	opacity: 0;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;

	.popup-open & {
		opacity: 1;
	}

	&__overlay {
		@extend %overlay;
		background: none;
	}

	&__outer {
		display: table;
		width: 100%;
		height: 100%;
	}

	&__inner {
		display: table-cell;
		position: relative;
		vertical-align: middle;
		width: 100%;
		padding: 0 $grid-gutter-width;

		@media (min-width: $screen-sm-min) {
			padding: 0;
		}
	}

	&__content {
		@include container(8, 10, 12, false);
		width: auto;
		max-width: 400px;
		position: relative;
		overflow: hidden;
		padding: $grid-gutter-width/2;
		background: $lightGray;
		margin: $grid-gutter-width auto;
		line-height: 1.4;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
		border-radius: 5px;

		@media (min-width: $screen-sm-min) {
			max-width: 100%;
		}

		h2, h3 {
			margin-top: $grid-gutter-width/2;
			margin-bottom: $grid-gutter-width;
			line-height: inherit;
		}

		hr {
			float: left;
			width: 100%;
			margin-top: $grid-gutter-width/2;
			margin-bottom: $grid-gutter-width/2;
		}

		table td {
			padding-left: $grid-gutter-width/2;
			padding-right: $grid-gutter-width/2;
		}

		p, .form-group__field {
			margin-top: 0;
			margin-bottom: $grid-gutter-width/2;
		}

		.form-group__btn {
			max-width: 100%;
			margin: $grid-gutter-width/2 auto 0;
		}

		.form-group__field {
			&--half, 
			&--large, 
			&--small {
				.form-group__btn {
					margin: 0;
				}
			}
		}

		&--wide {
			@include container(12, 12, 12, false);
		}

		&--narrow {
			width: 320px;
			padding: $grid-gutter-width/2 $grid-gutter-width;

			h2, h3 {
				padding-left: 0;
				padding-right: 0;
				margin-left: 0;
				margin-right: 0;
			}

			h2 {
				text-align: center;
			}

			.form-group__btn {
				width: 200px;

				&--block {
					width: 100%;
				}
			}
		}

		&--full {
			padding: 0;
		}
	}

	&__section {
		padding: $grid-gutter-width/2;
		float: left;
		width: 100%;

		&--half {
			width: 50%;
		}

		&--small {
			width: 35%;
		}

		&--large {
			width: 65%;
		}

		section {
			@extend %section;
			float: left;
			width: 100%;
			margin-bottom: $grid-gutter-width;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__close-btn {
		position: absolute;
		top: -15px;
		right: -15px;
		width: 30px;
		height: 30px;
		background: $gray-dark;
		border-radius: 50%;
		@include icon("close-white");

		&:before {
			width: 12px;
			height: 12px;
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -6px auto auto -6px;
		}
	}
}
