.symbol {
	line-height: 1;
	vertical-align: middle;

	&:before {
		display: inline-block;
		content: "";
		cursor: pointer;
	}

	&--status:before {
		overflow: hidden;
		border-radius: 50%;
		width: 10px;
		height: 10px;
	}

	&--green:before {
		background: $mainGreen;
	}

	&--yellow:before {
		background: $mainYellow;
	}

	&--red:before {
		background: $mainRed;
	}

}