table {
	@include font-size(11);
	border: $gray solid 1px;
	width: 100%;

	tr.selected td {
		background: $hover;
	}

	td {
		padding: 5px;
		border: $lightGray solid 1px;

		&.col--center {
			text-align: center;
		}
	}

	thead {

		td {
			background: $lightGray;
			box-shadow: inset 1px 1px 0px 0px $white;

			a {
				@include linkColor(inherit);
				display: block;
			}
		}
	}

	tbody {
		// display: block;
		// min-width: 100%;
		// max-height: 350px;
		// overflow-y: auto;
	}

	tr.selected {
		border: $darkGray solid 1px;
	}

	tr.level2 > td:first-child {
		padding-left: 25px;
	}

	tr.level3 > td:first-child {
		padding-left: 45px;
	}
}

.table-filter {

	&__elm {
		float: right;
		border-left: $gray solid 1px;
		padding-left: $grid-gutter-width;
		color: $darkGray;
		margin: 0 0 10px;

		&:last-child {
			border: 0;
			padding-left: 0;
		}

		&--search {
			float: left;
			border: 0;

			label {
				@include icon("search");
				color: $black;
				padding: 5px 5px 5px 0;
			}

			input {
				padding: 5px;
				width: 350px;
			}
		}

		& > * {
			display: inline;
			float: none;
		}
	}

	&__select {
		@include icon("point-down", "after");

		&:after {
			@include font-size(14);
			vertical-align: baseline;
			margin: 0 0 0 3px;
			color: $gray;
		}
	}
	
	&__selectInner {
		width: auto !important;
	}

	input, &__selectInner {
		height: 20px;
		line-height: 20px;
		-webkit-appearance: none;
		border: 0;
		max-width: 100%;
		color: inherit;
	}

	&__date {

		label {
			@include icon("calendar");
		}

		input {
			width: 90px;

			&::-webkit-inner-spin-button,
			&::-webkit-clear-button {
				display: none;
			}
		}
	}

	&__date-separator {
		padding: 5px;
	}

	&__dropdown {
		display: inline;
		padding: 5px;
	}
}