{% block datetime_widget %}
    <div class="input-group date">
        {{ block('form_widget_simple') }}
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
{% endblock %}
