.grid__elm {
    margin: 4px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 170px;
    height: 170px;
    cursor: pointer;
    border-radius: 20px;
}

.product-thumb {
    background: #faf8f4;
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.product-thumb__image {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    left: -35px;
}

.product-thumb__name {
    position: absolute;
    width: 50%;
    top: 10px;
    left: 10px;
}

.product-thumb__prices {
    position: absolute;
    top: 12px;
    right: -5px;
    font-size: 11px;
    line-height: 11px;
    width: 66px;
}

.product-thumb__price-label {
    margin: 0;
}

.product-thumb__price-amount {
    color: #dd5f54;
    margin-bottom: 4px;
}

.add-new-menu-link {
    color: #18bc9c;
    border-bottom: 1px solid;
}

#menu-list > li.active > a {
    color: #fff;
    background-color: #15a589;
}

.product-thumb__actions {
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(236, 240, 241, 0.76);
}

.product-thumb__actions a {
    padding: 5px;
    margin: 2px;
}

.product-thumb__description {
    overflow: hidden;
    position: absolute;
    bottom: 6px;
    left: 8px;
    width: 100px;
    height: 30px;
}

.list-group {
    height: 100%;
}

.product-thumb__description p,
.product-thumb__name h3,
.product-thumb__prize-label {
    font-size: 10px;
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
}

.product-thumb__name h2,
.product-thumb__prize-amount {
    font-size: 14px;
    font-size: 1.4rem;
    color: #dd5f54;
    line-height: 1;
    margin: 2px 0 0;
}

#available-products,
#menu-products {
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    border: 1px solid #dce4ec;
    border-top-color: rgb(220, 228, 236);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(220, 228, 236);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(220, 228, 236);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(220, 228, 236);
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 4px;
}

#menu-content {
    padding-bottom: 20000px;
    margin-bottom: -20000px;

}

#menu-update h2 {
    display: inline-block;
}

#menu-products {
    height: 100%;
    padding-left: 15px;
}

#content {
    overflow: hidden;
}

#pagination,
#image_pagination {
    text-align: center;
}

.navigations {
    width: 360px;
    float: right;
}

table img {
    width: 150px;
    height: 150px;
}

.table-hover tbody tr td {
    vertical-align: middle;
}

.preview-block {
    border: 1px solid #149c82;
}

.page-hero-img {
    width: 250px;
    height: 125px;
}

.hero-actions {
    position: relative;
    top: -680px;
    left: 302px;
}

.product--title {
    float: left;
}

.product--title-link {
    float: right;
}

.actions-menu {
    float: right;
}

.actions-menu form {
    float: right;
}

.pull-right form {
    float: right;
}

.additional_to_upload {
    width: 300px;
    height: 150px;
    padding: 0 300px 125px 0;
    color: #000;
    opacity: 1 !important;
    background-color: #fff;
}

#app_product_type_translations_no_image_add_existing_image,
#app_front_page_block_type_main_image_add_existing_image,
#app_front_page_block_type_secondary_image_add_existing_image,
#app_front_page_type_hero_image_add_existing_image {
    display: block !important;
}

#exist-images img {
    width: auto;
    height: 100%;
}

#exist-images div.image-block {
    display: inline-block;
    height: 100px;
}

#exist-images a.js-delete-exist-image {
    position: relative;
    top: -38px;
    left: -5px;
}

#exist-images .navigations {
    width: auto;
    float: none;
}

.form-group {
    margin-left: 20px;
}