.restaurants-time-block .weekend, .restaurants-time-block .week {

    display: none;
}
.restaurants-time-block .add-holiday .weekend{
    display: block;
}
#templates, .model-template {
    display: none;
}

.restaurants-time-block th {
    text-align: center;
}

.restaurants-time-block td .agree,
.restaurants-time-block td textarea {
    margin-top: 4px;
}

.add-holiday {
    text-align: center;
    position: relative;
}
.holidays td {
    padding-top: 10px;
}

.divtime {
    position: relative;
    display: inline-block;
}

.column-content-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

.column-content-2 > * {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}