{% extends 'knp_menu.html.twig' %}
{% block linkElement %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    <a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes)}}>
        {% if item.attribute('src') %}
            <img width="100" height="100" src="{{ item.attribute('src') }}" >
        {% endif %}
        <span>{{ block('label') }}</span>
    </a>
{% endblock %}