<tr data-product-variant="{{ variant.id }}">
    <td>
        {{ variant.name }}
    </td>
    <td>
        {% if variant.osProduct is defined %}
            {{ variant.osProduct.name }}
        {% endif %}
    </td>
    <td>
        <div class="btn-group btn-group-sm" role="group">
            <a class="btn btn-default" href="#" title="Edit settings" role="button" data-product-variant-edit-settings><i class="glyphicon glyphicon-wrench"></i></a>
            <a class="btn btn-default" href="#" title="Change OS product" role="button" data-product-variant-change-osproduct><i class="glyphicon glyphicon-paperclip"></i></a>
            <a class="btn btn-default" href="#" title="Move up" role="button" data-product-variant-move-up><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a class="btn btn-default" href="#" title="Move down" role="button" data-product-variant-move-down><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a class="btn btn-primary" href="#" title="Save variant" role="button" data-product-variant-save><i class="glyphicon glyphicon-ok"></i></a>
            <a class="btn btn-danger" href="#" title="Remove variant" role="button" data-product-variant-remove><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </td>
</tr>
