{% if options is iterable %}
    <table class="table table-hover big-icons">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for option in options %}
            <tr>
                <td>{{ option.name }}</td>
                <td>
                    <p class="btn-group" role="group">
                        <a class="btn btn-warning btn-sm js-edit-option"
                           data-toggle="modal"
                           data-target="product-options-settings--action"
                           href="{{ path('app_back_office_product_options_edit', {'id': option.id}) }}"
                           title="Edit setting" role="button">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                            <a class="btn btn-danger btn-sm js-delete-option"
                               data-toggle="modal"
                               data-target="product-options-settings--action"
                               href="{{ path('app_back_office_product_options_delete', {'id': option.id}) }}"
                               title="Delete option" role="button">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                            </a>
                    </p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<p><a class="btn btn-success js-create-option"
      data-toggle="modal"
      data-target="product-options-settings--action"
      href="{{ path('app_back_office_product_options_create') }}">
        Create
    </a>
</p>