<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <input type="hidden" name="path" class="form-control" hidden id="form-submit-path"
           value="{{ path('app_back_office_product_setting_create') }}"/>
    <label for="title">Title</label>
    <input type="text" name="name" class="form-control" id="title"
           placeholder="Title"/>
</div>
<div class="modal-body">

    <label for="name">Name</label>
    <input type="text" name="settings[name]" class="form-control" id="name"
           placeholder="Name"/>
    <label for="short_name">Short name</label>
    <input type="text" name="settings[short_name]" class="form-control" id="short_name"
           placeholder="Short name"/>
    <label for="description">Description</label>
    <input type="text" name="settings[description]" class="form-control" id="description"
           placeholder="Description"/>

    <div class="checkbox">
        <label>
            <input type="checkbox" name="settings[cooking_preferences_allowed]"
                    > cooking_preferences_allowed
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="settings[customizable]"
                    > customizable
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="settings[availability][takeaway]"
                    > availability_takeaway
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="settings[availability][delivery]"
                    > availability_delivery
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="settings[availability][hotel]"
                    > availability_hotel
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="settings[half_split_allowed]"
                    > half_split_allowed
        </label>
    </div>
    <table class="table">
        <thead>
        <tr>
            <td width="250"></td>
            <td width="250"></td>
            <td width="200"></td>
        </tr>
        </thead>
        <tbody id="product-variant-container">
        <tr>
            <td>
                <select class="form-control input-sm" name="fieldType">
                    <option value="checkbox">Checkbox</option>
                    <option value="text">Text</option>
                </select>
            </td>
            <td>
                <input type="text" name="newField" class="form-control input-sm"
                       placeholder="Field name" id="new-field-name">
            </td>
            <td>
                <div class="btn-group btn-group-sm" role="group">
                    <a class="btn btn-success js-add-new-field" href="#" title="Add field" role="button"><i
                                class="glyphicon glyphicon-plus"></i></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>